body {
    background-color: #F8F8F8;
}
/* 
  .wrapper {
    margin: 0 auto;
  }
   */
  .card {
    position: sticky;
    top: 30px;
  }

  @for $i from 1 through 4 {
    .card:nth-child(#{$i}n) {
      top: $i * 350px;
    }
  }