html {
  scroll-behavior: smooth;
}

body {
    background-color: #F8F8F8;
    overflow-x: hidden;
}
/* 
  .wrapper {
    margin: 0 auto;
  }
   */
  .card {
    position: sticky;
    top: 30px;
  }

  @for $i from 1 through 4 {
    .card:nth-child(#{$i}n) {
      top: $i * 350px;
    }
  }

.product-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 20px rgba(247, 105, 105, 0.362);
}

.productfirst-card {
  transition: transform 0.3s ease
}

.productfirst-card:hover {
  transform: translateY(-8px);
}
